*{
    list-style: none;
}
#app{
    width: 1050px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 100px 200px;
}
.item{
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item div{
    display: inline-block;
    width: 50px;
    font-size: 14px;
    /* border: 1px solid #000; */
}
.item ul{
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    margin-left: -50px;
    margin-top: 30px;
}
.item ul li{
    float: left;
    display: inline;
    color: rgb(8, 76, 202);
    font-weight: 600;
    width: 75px;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
}
.item ul li:hover{
    color: #fff;
    background-color: rgb(224, 192, 104);
    cursor: pointer;
}
.item ul .active{
    color: #fff;
    background-color: #f42;
}
.choose{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}
.choose .noChoose{
    color: #ccc;
}
.choose ul li{
    float: left;
    display: inline;
    font-weight: 600;
    width: 90px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #f42;
    position: relative;
}
.deleteGoods{
    display: inline-block;
    position: absolute;
    color: #fff;
    right: 5px;
    top: -7px;
    font-weight: 400;
    cursor: pointer;
}
