<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="(item,goodsIndex) in goodsList" :key="item.id" class="item">
            <div>{{item.title}}：</div>
            <ul>
                <li v-for="(type,typeIndex) in item.typeList" @click="addChoose(type,goodsIndex,item,typeIndex)" :class="{active:typeIndex === item.index}">{{type}}</li>
            </ul>
        </div>
        <div class="choose">已选条件：
            <span class="noChoose" v-if="isShow">暂时没有选择过滤条件</span>
            <ul v-else>
                <li v-for="(chooseGoods,goodsKey) in filterObj">{{chooseGoods}}
                    <span class="deleteGoods" @click="deleteFilterGoods(goodsKey)">X</span>
                </li>

            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                goodsList: [{
                        title: '上装',
                        typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣'],
                        id: 1,
                    },
                    {
                        title: '裤装',
                        typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤'],
                        id: 2,
                    },
                    {
                        title: '裙装',
                        typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
                        id: 3,
                    }
                ],
                filterObj: {},
                isShow: true
            },
            methods: {
                addChoose(type,goodsIndex,item,typeIndex) {
                    if(type === '全部'){
                        return;
                    }
                    item.index = typeIndex;
                    this.$set(this.filterObj, goodsIndex, type);
                    this.isShow = false;
                },
                deleteFilterGoods(goodsKey) {
                    this.$delete(this.filterObj, goodsKey);
                    this.goodsList[goodsKey].index = 0;
                    const filterObjStr = JSON.stringify(this.filterObj);
                    this.isShow = filterObjStr === '{}';
                }

            }
        })
        vm.goodsList.forEach(item => vm.$set(item, 'index', 0));
    </script>
</body>

</html>