<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">toDoList</div>
                <div class="input-area">
                    <input type="text" @input="handleInput" :value="curMask">
                    <button @click="addMask">添加</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num">{{needList.length}}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(item,index) in needList" :key="item.id">
                    <div>
                    <input type="checkbox" @change="finish(index,'do')">
                    <span>{{item.title}}</span>
                </div>
                <button @click="deleteList(index,'do')">删除</button>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>
                <span>已经完成</span>
                <span class="mask-num">{{finishList.length}}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(item,index) in finishList" :key="item.id">
                    <div>
                    <input type="checkbox"  @change="finish(index,'complete')">
                    <span>{{item.title}}</span>
                </div>
                <button @click="deleteList(index,'complete')">删除</button>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el:"#app",
            data:{
                curMask:'',
                needList:[],
                finishList:[]
            },
            methods:{
                handleInput(e){
                   this.curMask = e.target.value;
                },
                addMask(){
                    if(this.curMask === '') return ;
                    this.needList.push({
                        title:this.curMask,
                        id:Math.random()
                    })
                    this.curMask = '';
                },
                finish(index,type){
                    if(type === 'do'){
                        const completeList = this.needList.splice(index,1);
                        this.finishList.push(...completeList);
                    }else{
                        const noCompleteList = this.finishList.splice(index,1);
                        this.needList.push(...noCompleteList);
                    }
                },
                deleteList(index,type){
                    if(type === 'do'){
                        this.needList.splice(index,1);
                    }else{
                        this.finishList.splice(index,1);
                    }
                }
            }
        })
    </script>
</body>
</html>